<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil de Usuario</ion-title>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-content-background">

  <ion-card *ngFor="let i of usuarioFiltro" class="profile-card">
    <div class="card-header">
      {{i.nombre}} {{i.apellido}}
    </div>
  
    <div class="card-content">
      <div class="card-item">
        <ion-icon name="mail"></ion-icon>
        <span>{{i.correo}}</span>
      </div>
  
      <div class="card-item">
        <ion-icon name="person"></ion-icon>
        <span>{{i.usuario}}</span>
      </div>
  
      <div class="card-item">
        <ion-icon name="pin"></ion-icon>
        <span>{{i.comuna}}, {{i.region}}</span>
      </div>
    </div>
  </ion-card>
  
  





 
 
 
 
 
 