
ion-item{
  border-radius: 8px;
  --background: #f3f3f3;
  box-shadow:  4px 4px #353535;
  margin: 30px 20px ;
  border:2px solid #000000;
  top: 50px;
  
}

ion-title.title-large {
  font-size: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}

ion-content {
  --background: linear-gradient(180deg, #b6449d, #0951af);
}

ion-toolbar {
  --background: #fafafa;
}

ion-title{
  font-size: 25px;
  display: flex;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


ion-avatar {
  width: 45px; 
  height: 40px;
  margin-right: 25px; 
}

h2 {
  font-size: 28px; 
}
h1 {
  font-size: 50px;
  color: #ffffff; 
  font-family: monospace;
  font-weight: bold;
  text-align: center; 
}

.mensjUser{
  color: #ffffff; 
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-align: center; 
}

