<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">

  <h1>Bienvenido</h1>
    <ion-item  button (click)="qr()" >
      <ion-avatar item-start>
        <img src="assets/img/qrcode.png">
      </ion-avatar>
      <h2>Escanear codigo Qr</h2>
    </ion-item>

    <ion-item button (click)="asistencia()">
      <ion-avatar item-start>
        <img src="assets/img/asistencia1.png">
      </ion-avatar>
      <h2>Revisar asistencia</h2>
    </ion-item>

    <ion-item button (click)="perfil()">
      <ion-avatar item-start>
        <img src="assets/img/perfil1.png">
      </ion-avatar>
      <h2>Ver perfil</h2>
    </ion-item>

    <ion-item button (click)="gatos()">
      <ion-avatar item-start>
        <img src="assets/img/gato2.png">
      </ion-avatar>
      <h2>Ver Gatitos</h2>
    </ion-item>

    <ion-item button (click)="obtenerubi()">
      <ion-avatar item-start>
        <img src="assets/img/ubi.png">
      </ion-avatar>
      <h2>Mis cordenadas</h2>
    </ion-item>

    <ion-item button (click)="back()">
      <ion-avatar item-start>
        <img src="assets/img/salir4.png">
      </ion-avatar>
      <h2>Cerrar sesion</h2>
    </ion-item>

</ion-content>

