.gif-img {
    width: auto; 
    
  }

  ion-content {
    --background: linear-gradient(180deg, #b6449d, #0951af);
  }

  ion-button {
    display: block;
    margin: 20px auto;
    --background: #f7489f;
  }
  
  
  
  
  
  